@* Lilia Brown
    New Bootstrap commands: "panel-heading", "collapse", "panel-collapse" in Index.html
*@

@{
    ViewData["Title"] = "Home Page";
}

@* Brings in the BookListViewModel which has Book.cs as an IQueryable and the tag helpers *@
@model BookListViewModel

<div class="text-center">
    <h1 class="border bg-light">Available Books</h1>
</div>

@* Iterates through each object created in the database/model *@
@foreach (var b in Model.Books)
{
    // p is the model b/c that's what's being populated every iteration
    <partial name="BookSummary" model="b" />
}

@* variables being set up that html recognizes as attributes; created automatically when defined in the tag helper *@
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">

</div>